/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F6F4F5;
  font-family: 'Nunito', sans-serif; /* Applying Nunito font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.trapezoid {
	border-bottom: 0.4em solid #D20653;
	border-left: 0.2em solid transparent;
	border-right: 0.2em solid transparent;
	height: 0;
	width: 2em;
}